.footer {
  // width: 100vw;
  // margin-left: calc(-50vw + 50%);
  font-family: $font-open-sans;
  background-color: #000000;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 41px;
  padding-bottom: 38px;

  @media #{$tablet} {
    display: block;
  }
}

.footer__menus {
  display: flex;
  justify-content: space-between;

  @media #{$tablet} {
    justify-content: space-around;
  }

  @media #{$mobile} {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.footer__menu {
  margin-top: 0;
  margin-right: 73px;

  @media #{$tablet} {
    margin-right: 0;
  }

  @media #{$mobile} {
    margin-right: 0;
  }
}

.footer__menu-headline {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  color: #d7d7d7;
  text-transform: uppercase;

  @media #{$mobile} {
    font-size: 12px;
  }
}

.footer__menu-item {
  margin-top: 6px;
}

.footer__menu-link {
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  color: #d7d7d7;

  &:hover {
    text-decoration: underline;
  }

  @media #{$mobile} {
    font-size: 12px;
  }
}

.footer__subscribe {
  @media #{$tablet} {
    margin-top: 20px;
  }
}

.footer__subscribe-headline {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  font-family: $font-open-sans;
  text-align: left;
  color: #d7d7d7;
  text-transform: uppercase;

  @media #{$tablet} {
    text-align: right;
  }

  @media #{$mobile} {
    font-size: 12px;
  }
}

.footer__subscribe-input {
  width: 337px;
  height: 40px;
  margin-right: 47px;
  padding: 0 30px;
  color: $white;
  background-color: #363636;
  border: none;

  &:focus {
    border-color: white;
  }

  @media #{$desktop1024} {
    width: auto;
  }

  @media #{$tablet} {
    padding-right: 0;
  }

  @media (max-width: 350px) {
    padding-right: 0;
  }
}

.footer__subscribe-form {
  position: relative;
  margin-bottom: 26px;
  text-align: right;
}

.footer__subscribe-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 47px;
  height: 40px;
  margin-left: -4px;
  font-weight: 900;
  font-size: 14px;
  font-family: $font-lato;
  text-align: center;
  color: #b7b7b7;
  background-color: #555555;
  border: none;

  &:hover {
    text-decoration: underline;
  }
}

.footer__copyright {
  margin-bottom: 17px;
  text-align: right;
  color: #535353;

  @media #{$mobile} {
    font-size: 12px;
  }
}

.footer__good-bye-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.footer__good-bye {
  font-family: #{$font-lato};
  text-align: right;
  color: #545454;

  @media #{$mobile} {
    font-size: 12px;
  }
}

.footer__good-bye-icon {
  margin-left: 9px;
  fill: #c0392b;
}
