.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  // max-width: 988px;
  margin: 0 auto;

  @media (-ms-high-contrast: active), (-ms-high-contrast: none) {
    width: 100%;

    @media #{$desktop1024} {
      width: auto;
    }
  }

  @media #{$header-hidden} {
    position: fixed;
    height: 56px;
    background: #000000 none;
  }

  @media #{$tablet} {
    background: #000000 none;
  }
}

.header__topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 14px;

  @media #{$header-hidden} {
    display: block;
  }
}

.header__left {
  margin-right: 10px;
}

.header__logo-link {
  display: block;
  height: 25px;
}

.header__logo-img {
  fill: $white;

  @media (max-width: 875px) {
    width: 26px;
  }
}

.header__right {
  position: relative;

  display: flex;
  justify-content: space-between;

  @media #{$header-hidden} {
    display: block;
  }
}

.header__menu {
  display: flex;

  &--opened {
    @media #{$header-hidden} {
      display: block;

      .header__menu-burger-bar--top {
        position: absolute;
        top: 7px;
        right: 0;
        transform: rotate(45deg);
      }

      .header__menu-burger-bar--bottom {
        position: absolute;
        top: 7px;
        right: 0;
        transform: rotate(-45deg);
      }

      .header__menu-burger-bar--middle {
        display: none;
      }

      .header__menu-list {
        position: relative;
        top: 41px;
        right: 0;
        left: 0;
        display: block;
        margin: 0;
      }

      .header__singin {
        position: relative;
        top: 17px;
        right: 0;
        left: 0;
        display: block;
        margin: 0;
        padding: 20px 50px;
        background-color: #000000;
      }
    }

    @media #{$tablet} {
      .header__menu-list {
        top: 17px;
      }
    }

    @media #{$mobile} {
      .header__menu-list {
        top: 17px;
      }
    }
  }
}

.header__menu-burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 19px;
  margin-top: 4px;
  padding: 0 0 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  &:hover {
    @media #{$header-hidden} {
      .header__menu-burger-bar {
        height: 4px;
      }
    }
  }

  @media #{$header-hidden} {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
  }

  @media #{$tablet} {
    top: -25px;
  }
}

.header__menu-burger-bar {
  display: block;
  width: 25px;
  height: 3px;

  background-color: $white;
}

.header__menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media #{$header-hidden} {
    display: none;
  }
}

.header__menu-item {
  padding: 0 1vw;

  @media #{$header-hidden} {
    padding: 9px 50px;
    background-color: #000000;
  }
}

.header__menu-link {
  font-weight: 700;
  font-size: 14px;
  text-align: right;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 2px 1px #656565;

  @media #{$header-hidden} {
    padding: 0;
  }
}

.header__menu-link:hover {
  padding-bottom: 2px;
  text-shadow: none;
  border-bottom: 3px solid $white;
}

.header__singin {
  display: flex;
  margin-left: 10px;

  @media #{$header-hidden} {
    display: none;
  }

  @media #{$tablet} {
    top: 0;
    left: 0;
  }
}

.header__singin-btn {
  padding: 12px;
  font-weight: 700;
  font-size: 14px;
  text-align: right;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: none;
  background-color: #{$blue};
  border: 0;
  border-bottom: none;
  border-radius: 5px;
  cursor: pointer;

  @media #{$header-hidden} {
    padding: 20px;
  }

  @media #{$tablet} {
    width: 100%;
    text-align: center;
  }
}

.header__singin-btn:hover {
  text-shadow: 0 2px 1px #656565;
}
