.partner {
  margin-top: -4px;
  margin-left: calc(-50vw + 50%);
  width: 100vw;

  background-color: #111111;
}

.partner__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 988px;
  padding: 0 40px;
  margin: 33px auto;
  @media #{$tablet} {
    padding: 0 30px;
  }
  @media #{$mobile} {
    padding: 0 20px;
  }
}

.partner__img {
  opacity: 0.4;
}

.partner__img:hover {
  opacity: 1;
}

.partner__link {
  display: block;
}

@media #{$tablet} {

  .partner__list {
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 0;
  }

  .partner__item {
    /*width: 100%;*/
    margin: 0 10px 33px;
  }
}

@media #{$mobile}{

  .partner{
    display: block;
  }

  .partner__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 33px 0 18px;
  }

  .partner__item{
    margin-bottom: 15px;
  }
}
