.portfolio {
  background-color: $bg-grey;
}

.portfolio__slider {
  display: flex;
}

.portfolio__slider-wrapper {
  max-width: 718px;
  margin: 0 auto;
  // overflow-x: hidden;
  padding-bottom: 62px;
}

.portfolio__list-wrapper {
  min-width: 718px;

  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  // padding-bottom: 62px;

  &:last-child {
    &--active {
      .portfolio__nav-arrow--empty {
        fill: #777777;
      }
    }
  }

  @media #{$tablet} {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media #{$mobile} {
    margin-bottom: 12px;
  }
}

.portfolio__section-name {
  padding-top: 79px;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 41px 0 0 0;
  padding: 0;

  @media #{$tablet} {
    display: block;
    justify-content: center;
    width: auto;
    height: auto;
  }
}

.portfolio__item {
  position: relative;
  margin-bottom: 12px;

  @media #{$tablet} {
    margin-bottom: 10px;
  }
}

.portfolio__item-img {
  @media (max-width: 350px) {
    width: 100vw;
    height: auto;
  }
}

.portfolio__item-link {
  position: absolute;
  bottom: 30px;
  left: 16px;
  z-index: 2;
  width: 120px;
  height: 34px;
  font-weight: 700;
  font-size: 15px;
  line-height: 34px;
  text-align: center;
  color: white;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.65);

  &:hover {
    background-color: rgba(0, 0, 0, 1);
  }

  @media #{$tablet} {
    font-size: 13px;
  }
}

.portfolio__nav-arrow-list {
  display: flex;
  justify-content: flex-end;
  font-size: 24px;

  &:focus {
    outline: none;
  }

  @media #{$tablet} {
    justify-content: center;
  }

  @media #{$mobile} {
    justify-content: space-around;
  }
}

.portfolio__nav-link {
  margin: 0 6px;
  color: #555555;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    fill: #777777;
  }
}

.portfolio__nav-arrow {
  width: 24px;
  height: 24px;
}

.tns-horizontal.tns-subpixel > .tns-item {
  display: flex;
}
