.section-name {
  max-width: 100%;
  margin: 0 auto;
  padding: 56px 0 0;
}

.section-name__headline {
  margin: 0 0 33px;
  font-size: 30px;
  text-align: center;
  color: #464646;

  @media #{$mobile} {
    font-size: 26px;
  }
}

.section-name__desc {
  font-size: 14px;
  font-family: $font-open-sans;
  text-align: center;
  color: $dark-grey-contrast;

  @media #{$mobile} {
    padding: 0 15px;
    font-size: 12px;
  }
}
