.services {
  box-sizing: border-box;
  // width: 100vw;
  // margin-left: calc(-50vw + 50%);
  background-color: $bg-grey;
  border: 1px solid #d7dbe0;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 988px;
  margin: 29px auto;

  @media (max-width: 1132px) {
    justify-content: space-around;
  }

  @media #{$tablet} {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media #{$mobile} {
    display: block;
  }
}

.services__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 259px;
  margin: 0 10px;
  text-align: center;

  @media #{$mobile} {
    width: auto;
    margin: 0;
  }
}

.services__link {
  box-sizing: border-box;
  width: 96px;
  height: 96px;
  background-color: #cadaec;
  border: 1px solid #cbd7e4;
  border-radius: 5px;
}

.services__link-icon {
  width: 38px;
  height: 96px;
  fill: #ffffff;
}

.services__link:hover .services__link-icon {
  fill: #ebfcff;
}

.services__name {
  margin-top: 26px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 20px;
  color: #545454;

  @media #{$tablet} {
    font-size: 18px;
  }
}

.services__desc {
  display: inline-table;
  margin-top: 24px;
  font-size: 14px;
  line-height: 24px;
  font-family: #{$font-open-sans};
  color: #88929d;

  @media #{$tablet} {
    margin-bottom: 29px;
    font-size: 12px;
  }
}
