.slider {
  position: relative;
  min-width: 320px;
  max-width: 100%;
}

.slider__list {
  display: flex;
}

.slider__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  &--first {
    background: url("../img/orion.jpg") no-repeat;
    background-position: center;
    background-size: cover;

    @media #{$retina} {
      background-image: url("../img/orionx2.jpg");
      background-position: center;
      background-size: cover;
    }

    @media #{$mobile} {
      background-image: url("../img/orion320.jpg");

      @media #{$retina} {
        background-image: url("../img/orion320x2.jpg");
      }
    }
  }

  &--second {
    background: url("../img/slide2.jpg") no-repeat;
    background-position: center;
    background-size: cover;

    @media #{$retina} {
      background-image: url("../img/slide2@2x.jpg");
      background-position: center;
      background-size: cover;
    }
  }

  &--third {
    text-shadow: 0 2px 1px #656565;
    background: url("../img/slide3.jpg") no-repeat;
    background-position: center;
    background-size: cover;

    @media #{$retina} {
      background-image: url("../img/slide3@2x.jpg");
      background-position: center;
      background-size: cover;
    }
  }

  @media (max-width: 680px) {
    margin-top: 55px;
  }
}

.slider__item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 241px;

  @media (max-width: 385px) {
    margin-bottom: 122px;
  }
}

.slider__img {
  width: 62px;
  height: 60px;
  margin-top: 180px;
  fill: $white;

  @media (max-width: 385px) {
    width: 31px;
    height: 30px;
    margin-top: 90px;
  }
}

.slider__caption-headline {
  margin-top: 65px;
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  color: $white;
  text-transform: uppercase;

  @media #{$tablet} {
    font-size: 40px;
  }

  @media (max-width: 385px) {
    margin-top: 30px;
    font-size: 35px;
  }
}

.slider__caption-text {
  margin-bottom: 59px;
  font-family: #{$font-open-sans};
  text-align: center;
  color: $white;

  @media #{$tablet} {
    font-size: 14px;
  }

  @media #{$mobile} {
    font-size: 13px;
  }
}

.slider__banner-btns {
  display: flex;
  align-items: center;
  // margin-bottom: 69px;
  margin-bottom: 181px;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  text-align: right;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 2px 1px #656565;

  @media (max-width: 385px) {
    margin-bottom: 92px;
  }
}

.slider__banner-btns-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider__banner-btn {
  padding: 25px 40px;
  text-shadow: none;
  background-color: $blue;

  @media (max-width: 385px) {
    padding: 12px 20px;
  }
}

.slider__banner-btn--l {
  border-radius: 8px 0 0 8px;
}

.slider__banner-btn--r {
  border-radius: 0 8px 8px 0;
}

.slider__banner-nobtn span {
  display: block;
  width: 28px;
  height: 28px;
  margin: 0 -14px;
  font-weight: 700;
  font-size: 12px;
  line-height: 28px;
  text-align: center;
  color: $white;
  text-shadow: none;
  background-color: #0078b2;
  border-radius: 50%;
}

.slider__banner-nobtn {
  z-index: 2;
  text-shadow: none;
}

.slider__banner-btn-link {
  color: $white;
  text-shadow: none;
}

.slider__banner-btn-link:hover {
  text-shadow: 0 2px 1px #656565;
}

.slider__banner-nav {
  position: relative;
  right: 0;
  bottom: 100px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-bottom: 100px;

  @media (max-width: 385px) {
    bottom: 50px;
    // margin-bottom: 50px;
  }
}

.slider__banner-nav-dot {
  width: 12px;
  height: 12px;
  margin: 0 9px;
  background-color: #636363;
  border-radius: 50%;
}

.slider__banner-nav-dot:hover {
  background-color: #b7b7b7;
}

.tns-nav-active {
  background-color: #b7b7b7;
}
