.team {
  margin-bottom: 62px;

  @media #{$desktop1024} {
    margin-bottom: 12px;
  }
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 988px;
  margin: 55px auto 0;
  counter-reset: num;

  @media #{$desktop1024} {
    justify-content: space-around;
  }
}

.team__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 170px;
  text-align: center;

  &::before {
    content: counter(num) "";
    position: absolute;
    top: 47px;
    left: 0;
    box-sizing: content-box;
    width: 34px;
    height: 35px;
    font-weight: 700;
    font-size: 18px;
    line-height: 35px;
    text-align: center;
    color: $white;
    background-color: $blue;
    border: 5px solid $white;
    border-radius: 50%;
    counter-increment: num;

    @media #{$desktop1024} {
      top: 42px;
    }
  }

  @media #{$desktop1024} {
    margin: 0 21px 50px 21px;
  }
}

.team__item-name {
  margin-top: 22px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 19px;
  color: $dark-grey-contrast;

  @media #{$tablet} {
    font-size: 17px;
  }
}

.team__item-prof {
  margin-top: 15px;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 12px;
  font-family: $font-open-sans;
  text-align: center;
  color: $dark-grey-contrast;

  @media #{$tablet} {
    font-size: 10px;
  }
}

.team__item-social-list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;

  @media #{$tablet} {
    width: 100%;
  }
}

.team__item-social-item {
  padding: 0 21px;
}

.team__item-social-link:hover .team__social-icon {
  fill-opacity: 0.6;
}

.team__social-icon {
  width: 18px;
  height: 18px;

  &--facebook {
    fill: #3498db;
  }

  &--twitter {
    fill: #66c2ff;
  }

  &--dribble {
    fill: #ff6aaa;
  }
}

@media #{$tablet} {
  .team__item-social-link {
    padding: 0 5px;
  }
}

@media #{$mobile} {
  .team__list {
    flex-direction: column;
    align-items: center;
  }

  .team__item {
    width: auto;
    margin: 0 0;
  }

  .team__item-social-list {
    width: 100%;
  }

  .team__item-social-link {
    padding: 0 0;
  }
}
