.testimonials__quote {
  display: flex;
  justify-content: center;
  margin-top: 64px;

  @media (max-width: 570px) {
    flex-direction: column;
    align-items: center;
  }
}

.testimonials__author-img {
  height: 81px;

  @media (max-width: 570px) {
    margin-bottom: 30px;
  }
}

.testimonials__quote-author {
  display: flex;
  margin-bottom: 21px;
  font-style: normal;

  @media #{$mobile} {
    display: block;
  }
}

.testimonials__author-name {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  text-align: left;

  @media #{$tablet} {
    font-size: 16px;
  }
}

.testimonials__author-prof {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-align: left;

  @media #{$tablet} {
    font-size: 10px;
  }
}

.testimonials__quote-wrapper {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 480px;
  margin-left: 40px;
  padding: 25px;
  border: 2px solid #e0e0e0;
  border-radius: 5px;

  &::before {
    content: "";
    position: absolute;
    top: 30%;
    right: 100%;
    width: 0;
    height: 0;
    color: #e0e0e0;
    border-right: 15px solid;
    border-bottom: 15px solid transparent;

    @media (max-width: 570px) {
      top: -15px;
      right: 48%;
      border-right: 15px solid transparent;
      border-bottom: 15px solid;
    }

    @media #{$mobile} {
      top: -15px;
      right: 48%;
      border-right: 15px solid transparent;
      border-bottom: 15px solid;
    }
  }

  @media (max-width: 570px) {
    margin-left: 0;
  }

  @media #{$mobile} {
    margin-left: 0;
  }
}


.testimonials__quote-text {
  margin: 20px 0 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  font-family: $font-open-sans;
  text-align: left;
  color: $dark-grey-contrast;

  @media #{$tablet} {
    font-size: 13px;
  }
}

.testimonials__section-name {
  margin-top: 64px;
}
