.employees {
    width: 989px;
    display: flex;
    justify-content: space-between;
    counter-reset: num;
}

.employees__card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.employees__name {
    margin-top: 22px;
    margin-bottom: 0;
    color: #363636;
    font-size: 19px;
    font-weight: 400;
}

.employees__prof {
    margin-top: 15px;
    font-family: 'Open Sans', serif;
    color: #b7b7b7;
    font-size: 12px;
    font-weight: 400;
    text-align: right;
}

.employees__social-icons {
    display: flex;
    justify-content: space-between;
    width: 111px;
}

.employees__social-link i {
    font-size: 18px;
}
.employees__social-link:hover i {
    text-shadow: 0 1px 1px #656565;

}
.employees__card:before {
    position: absolute;
    content: counter(num) '';
    top: 47px;
    left: 0;
    counter-increment: num;
    font-family: Montserrat, serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    border-radius: 50%;
    border: 5px solid #ffffff;
    background-color: #3498db;
    width: 34px;
    height: 35px;
    line-height: 35px;
}
.employees__social-link:hover{
    text-shadow: 0 0 0 #000;
}