.header {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
}
.header__topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 14px;
}
.header__left{
    margin-right: 10px;
}
.logo__link{
    display: block;
    height: 25px;
}

.header__right{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.header__menu-burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 19px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0 0 0;
    margin-top: 4px;
}
.header__menu-burger--opened .header__menu-burger--top{
    position: absolute;
    transform: rotate(45deg);
}
.header__menu-burger--opened .header__menu-burger--bottom {
    position: absolute;
    transform: rotate(-45deg);
}
.header__menu-burger--opened .header__menu-burger--middle{
    display: none;
}


.header__menu-burger-bar{
    display: block;
    width: 25px;
    height: 3px;
    background-color: #ffffff;
}
.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__menu-item{
    padding: 0 1vw;
}

.header__menu-link {
    /*padding: 0 17px;*/
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-align: right;
    text-shadow: 0 2px 1px #656565;
    text-transform: uppercase;
}

.header__menu-link:hover {
    text-shadow: none;
    border-bottom: 3px solid #fff;
    padding-bottom: 2px;

}
.header__singin{
    display: flex;
    margin-left: 10px;
}
.singin__btn {
    padding: 12px;
    border-radius: 5px;
    background-color: #3498db;
    text-shadow: none;
    border-bottom: none;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-align: right;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
}

.singin__btn:hover {
    text-shadow: 0 2px 1px #656565;
}
@media screen and (max-width: 1024px){
    .header{
        position: fixed;
        height: 56px;
        background: url(../img/Orion.jpg) no-repeat;
        background-size: cover;
    }
    .header__topbar{
        align-items: flex-start;
    }
    .header__right {
        display: block;
    }
    .header__menu-burger{
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
    }
    .header__menu-burger:hover .header__menu-burger-bar{
        height: 4px;
    }
    .header__menu{
        display: block;
        margin: 0;
        position: relative;
        right: 30px;
        top: 41px;

    }
    .header__menu-item{
        padding: 26px 50px;
        background-color: #000000;

    }
    .header__menu-link{
        padding: 0;
    }
    .header__singin{
        position: relative;
        right: 30px;
        top: 41px;
        padding: 26px 50px;
        background-color: #000000;
        margin: 0;

    }
    .singin__btn{
        padding: 20px;
    }
    .header__menu--hidden,
    .header__singin--hidden {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    /*.header{*/
        /*position: fixed;*/
    /*}*/
    /*.header__topbar{*/
        /*align-items: flex-start;*/
    /*}*/
    /*.header__right {*/
        /*display: block;*/
    /*}*/
    /*.header__menu-burger{*/
        /*display: flex;*/
    /*}*/
    /*.header__menu-burger:hover{*/

    /*}*/
    /*.header__menu{*/
        /*display: block;*/
        /*margin: 0;*/

    /*}*/
    /*.header__menu-item{*/
        /*margin: 0 50px 20px 0;*/

    /*}*/
    /*.header__menu-link{*/
        /*padding: 0;*/
    /*}*/
    /*.header__menu--hidden,*/
    /*.header__singin--hidden {*/
        /*display: none;*/
    /*}*/


}