.map {
    position: relative;
}

.map__google {
    border: none;
}
.map__vcard{
    position: absolute;
    top: 100px;
    left: 177px;
}
.map__no-scroll {
    background:transparent;
    position:relative;
    width:100%;
    height:458px; /* your iframe height */
    top:458px;  /* your iframe height */
    margin-top:-458px;  /* your iframe height */
}

@media screen and (max-width: 768px){
    .map__vcard{
        position: relative;
        top: 0;
        left: 0;
        width: auto;
        min-height: auto;
        border-radius: unset;

    }

}