.padded {
    padding: 0 13%;

}
@media screen and (max-width: 1024px){
    .padded{
        padding: 0 40px;
    }

}
@media screen and (max-width: 768px){

    .padded{
        padding: 0 30px;
    }
}
@media screen and (max-width: 320px){

    .padded{
        padding: 0 20px;
    }
}