.section-name{
    margin: 56px auto 0;

}
.section-name__headline {
    color: #464646;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin: 0;

}
.section-name__desc{
    font-family: "Open Sans", serif;
    color: #a1a1a1;
    font-size: 14px;
    font-weight: 400;
}