.testimonials{
    /*padding: 0 375px;*/
}
.testimonials__section-name  {
    margin-top: 64px;
}
.testimonials__quote{
    margin-top: 64px;
}
@media screen and (max-width: 768px){
    .testimonials{
        padding: 0 60px;
    }
}
@media screen and (max-width: 320px){
    .testimonials{
        padding: 0 0;
    }
}