.vcard {

    background-color: #ffffff;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    width: 447px;
    height: 147px;
    border-radius: 5px;


}

.vcard__street-address {
    padding-top: 32px;
    color: #545454;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    padding-left: 23px;
}

.vcard__tel-link {
    color: #acacac;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    text-decoration: none;
    padding-left: 23px;

}

.vcard__tel-link:hover {
    text-decoration: underline;
}

.vcard__tel {
    margin-top: 15px;

}

.vcard__email-btn {
    display: inline-block;
    background-color: #3498db;
    position: absolute;
    bottom: 0;
    width: 447px;
    height: 42px;
    font-family: Montserrat, serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    line-height: 42px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
}

.vcard__email-btn:hover {
    text-shadow: 0 2px 1px #656565;

}