.partner {
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    background-color: #111111;
    margin-top: -4px;
    /*padding: 0 265px;*/
}
.partner__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    max-width: 988px;
    margin: 33px auto;

}

.partner__img {
    opacity: 0.4;

}

.partner__img:hover {
    opacity: 1;
}
.partner__link{
    display: block;
}
@media screen and (max-width: 768px){
    .partner{
        padding: 0 13%;
    }
    .partner__list{
        flex-wrap: wrap;
        margin-bottom: 0 ;
        justify-content: space-around;

    }
    .partner__item{
        /*width: 100%;*/
        margin: 0 10px 33px;

    }
}
@media screen and (max-width: 320px){
    .partner{
        display: block;
    }
    .partner__list{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 33px 0 18px;
    }
    .partner__item{
        margin-bottom: 15px;
    }
}