.partner {
  /*display: flex;*/
  /*justify-content: space-between;*/
  /*align-items: center;*/
  margin-top: -4px;
  margin-left: calc(-50vw + 50%);
  width: 100vw;
  /*padding: 0 265px;*/

  background-color: #111111;
}

.partner__list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 988px;
  padding: 0;
  margin: 33px auto;
}

.partner__img {
  opacity: 0.4;
}

.partner__img:hover {
  opacity: 1;
}

.partner__link{
  display: block;
}

@media screen and (max-width: 768px){

  .partner__list{
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 0;
  }

  .partner__item{
    /*width: 100%;*/
    margin: 0 10px 33px;
  }
}

@media screen and (max-width: 320px){

  .partner{
    display: block;
  }

  .partner__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 33px 0 18px;
  }

  .partner__item{
    margin-bottom: 15px;
  }
}
