.section-name{
  margin: 56px auto 0;
  max-width: 100%;
}

.section-name__headline {
  margin: 0;

  color: #464646;
  font-size: 30px;
  text-align: center;
}

.section-name__desc{
  font-family: "Open Sans", serif;
  color: #a1a1a1;
  font-size: 14px;
  text-align: center;
}

@media screen and (max-width: 768px){

  .section-name__headline{
    font-size: 26px;
  }

  .section-name__desc{
    font-size: 12px;
  }
}

@media screen and (max-width: 320px){

  .section-name__desc{
    padding: 0 15px;
  }
}
