.footer__subscribe-headline{
  margin: 0;

  font-family: 'Open Sans', serif;
  color: #d7d7d7;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: right;
}

.footer__subscribe-input {
  width: 270px;
  height: 40px;
  padding-left: 31px;
  padding-right: 78px;

  color: #ffffff;

  border: none;
  background-color: #363636;
}

.footer__subscribe-input:focus {
  border-color: white;
}

.footer__subscribe-form {
  position: relative;

  margin-top: 10px;

  text-align: right;
}

.footer__subscribe-button {
  position: absolute;
  right: 0;
  top: 0;

  width: 47px;
  height: 42px;

  font-family: Lato, serif;
  color: #b7b7b7;
  font-size: 14px;
  font-weight: 900;
  text-align: center;

  background-color: #555555;
  border: none;
}

.footer__subscribe-button:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1024px) {

  .footer__subscribe-headline{
    font-size: 18px;
  }

  .footer__subscribe-input{
    width: auto;
  }
}
