.timeline{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.timeline__link {
    position: relative;
    bottom: -20px;
    margin-top: 65px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding: 14px 17px;
    border-radius: 5px;
    background-color: #ff1e4f;
    text-decoration: none;
    z-index: 2;

}
.timeline__link:hover {
    text-shadow: 0 2px 1px #656565;
}
.timeline__content {
    position: relative;
    margin-top: 23px;
}

.timeline__line {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin-left: 5%;
}
.timeline__list{
    height: 100%;
    width: 3px;
    background: #dddddd;

}

.timeline__step {
    position: relative;
    top: 0;
    left: 64px;
    width: 399px;
    background-color: #ffffff;
    border: 1px solid #e1e5eb;
    border-bottom: 5px solid #4fb1f3;
    margin-top: 7px;
    margin-bottom: 26px;
    padding-top: 9px;
    padding-left: 32px;

}

.timeline__step-headline {
    color: #717171;
    font-size: 14px;
    font-weight: 700;
}
.timeline__step-decs{
    font-size: 12px;
    font-weight: 400;
    color: #898989;
}
.timeline__step--left {
    position: relative;
    top: 0;
    left: -488px;
    background-color: #ffffff;
    border: 1px solid #e1e5eb;
    border-bottom: 5px solid #ff1e4f;
}

.timeline__step--left .timeline__step-headline:after{
    content: '';
    position: absolute;
    right: -64px;
    border-radius: 50%;
    background-color: #ff1e4f;
    width: 13px;
    height: 13px;
}
.timeline__step--left .timeline__step-headline:before{
    display: none;
}
.timeline__step-headline:before {
    content: '';
    position: absolute;
    left: -70px;
    border-radius: 50%;
    background-color: #4fb1f3;
    width: 13px;
    height: 13px;
}


.timeline__circle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #fff;
    border: 3px solid #dddddd;
}

@media screen and (max-width: 1024px){

    .timeline__content{
        width: 100%;
    }

    .timeline__line{
        align-items: flex-start;

    }
    .timeline__list{
        position: relative;
        left: 8px;
    }

    .timeline__step{
        width: 50vw;
        padding: 9px 16px 0;
    }
    .timeline__step--left{
        position: relative;
        top: 0;
        left: 64px;
        margin-top: 7px;
        margin-bottom: 26px;
    }
    .timeline__step--left .timeline__step-headline:after{
        display: none;
    }
    .timeline__step--left .timeline__step-headline:before{
        display: block;
        content: '';
        position: absolute;
        right: -64px;
        border-radius: 50%;
        background-color: #ff1e4f;
        width: 13px;
        height: 13px;
    }

}

@media screen and (max-width: 768px){
    .timeline__step-headline{
        font-size: 12px;
    }
    .timeline__step-decs{
        font-size: 12px;
    }
    .timeline__link{
        font-size: 12px;
    }
}

@media screen and (max-width: 320px){
    .timeline__step{
        padding-right: 16px;
    }
}