$retina:"(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
$desktop:"(max-width: 1440px)";
$desktop1024:"(max-width: 1024px)";
$header-hidden:"(max-width: 730px)";
$tablet:"(max-width: 768px)";
$mobile:"(max-width: 320px)";
$font-main: montserrat, arial, serif;
$font-open-sans: "Open Sans", arial, serif;
$font-lato: lato, arial, serif;
$blue: #59a3fc;
$red: #ff1e4f;
$white: #ffffff;
$bg-grey: #e7eef6;
