$retina:(min-resolution: 144dpi), (min-resolution: 1.5dppx);
$desktop:(max-width: 1440px);
$desktop1024:(max-width: 1024px);
$tablet:(max-width: 768px);
$mobile:(max-width: 320px);
$font-main:(Montserrat, Arial, serif);
$font-open-sans:('Open Sans', Arial, serif);
$font-lato:(Lato, Arial, serif);
$blue:(#59a3fc);
